<div class="col-md-6 left-column search-event-block search-event-container">
  <div class="col-md-12 search-event">
    <h4 class="search-event-title search-event-title-one"><%= t(:rating_user) %></h4>
  </div>
  <div class="col-md-12 display-events">
    <h5 class="col-md-12 event-owner-title">
      <strong>User name</strong>
    </h5>
    <div class="col-md-4 event-page-image user-image" background-image="url(http://assets3.parliament.uk/iv/main-large//ImageVault/Images/id_7382/scope_0/ImageVaultHandler.aspx.jpg)"></div>
    <div class="col-md-4">
      Note:
    </div>
    <div class="col-md-4">
      (star rating here)
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-8"></div>
    <div class="col-md-8">
      Commentaire:
    </div>
    <div class="col-md-1"></div>
    <textarea class="col-md-6 user-rating-comment" rows="6"></textarea>
    <div class="col-md-1"></div>
  </div>
</div>
