<div id="achievements_module">
    <% @achievements.sort_by {|a| a.progression}.reverse[0..1].each do |achievement| %>
        <div class="achievement">
            <div class="radial-progress" data-prog=<%= "#{achievement.progression}" %> data-progress="0">
                <div class="circle">
                    <div class="mask full">
                        <div class="fill"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill"></div>
                        <div class="fill fix"></div>
                    </div>
                    <div class="shadow"></div>
                </div>
                <div class="inset">
                    <div>
                      <%= image_tag "/images/logo_birdl_notext.png" %></span></div>

                    </div>
                </div>
            </div>
            <h4 class="badge_title"><%= achievement.badge.name %></h4>
        </div>
    <% end %>
</div>