<html>
<head>
</head>
<body>
<div class="gEvent">
  <header>
    <h1>Your registered events, <%= current_user.name %> !</h1>
  </header>
  <div class="gEventDesc">
  <div id="eDescription">
    <h3 style="padding-left: 15px">Chirac faut prendre un jouet</h3>
    <div><%= image_tag('groupevents/engine/rheenok.jpg', :class => "imgEvent") %></div>
    <ul>
      <li><h4>Organisateur</h4></li>
      <li><h4>Adresse de l'event</h4></li>
      <li><h4>Description de l'event</h4></li>
    </ul>
  </div>
  <div id="uEvents">
    <div style="text-align: center"><h3>Events that your participating</h3></div>
    <ul>
      <li><a href="#">Event 1</a></li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 4</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 4</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 4</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 4</li>
    </ul>
  </div>
</div>
</div>
</body>
</html>