<html>
<head>
</head>
<body>
<h1>Group event show page</h1>
<br>
<div class="gEvent">
  <header>
    <h1><%= current_user.name %></h1>
  </header>
  <div class="gEventDesc"">
  <div id="eDescription">
    <h3 style="padding-left: 15px">Chirac faut prendre un jouet</h3>
    <div style="text-align: center"><%= image_tag('groupevents/engine/rheenok.jpg', size: "300x200") %></div>
    <ul>
      <li>Organisateur</li>
      <li>Adresse de l'event</li>
      <li>Description de l'event</li>
    </ul>
  </div>
  <div id="uEvents">
    <ul>
      <li><a href="#">Event 1</a></li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 4</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 4</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 4</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 1</li>
      <li>Event 2</li>
      <li>Event 3</li>
      <li>Event 4</li>
      <li>Event 4</li>
    </ul>
  </div>
</div>
</div>
</body>
</html>