#messages_module {
    margin-right: 25px;
    border:
}

.message {
    height:100px
}

.message_infos {
    float: left;
    width: 25%;
    overflow: auto;
}

.message_content {
    float: right;
    width: 75%;
    overflow: auto;
}

li.list-group-item.message {
    border: 1px solid #ecf0f1;
}