<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">


<%= form_for :chat_online do |f| %>


    <body class="body_gen">
    <span class="chat_title"><%= t(:general_chat) %></span><br>
    
    <div class="chat_body">
      <div class="chat_output"></div>
      <div class="smiley"><label>Smiley</label></div>
      <div class="configuration"><label>Configuration</label></div>
      <div class="chat_input"><textarea placeholder="Entrer votre message" cols=36 rows="2" ></textarea></div>
      <input type="button" value="Envoyer" id="send_button">
    </div>

    <div class="usrlist_body">
      <div class="usrlist_output"></div>
    </div>
    </body>

<% end %>
