.body_gen {
  display:block;
  weight: 1200px;
  margin-left: 100px;
  margin-top: 80px;
}

.chat_body {
  border: 2px;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  width: 695px;
  background-color: #fff;
  border-radius: 0 0 0px 10px;
  border-style: solid;
  border-color: #2ab4f8;
  padding: 3px;
  color: #777;
  margin-top: 5px;
  padding-bottom: 8px;
  font-size: 18px;
  display:inline-block;
  float:left;
}

.usrlist_body {
  border: 2px;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  width: 255px;
  background-color: #fff;
  border-radius: 0 10px 10px 0px;
  border-style: solid;
  border-color: #2ab4f8;
  padding: 3px;
  margin-left: 4px;
  color: #777;
  margin-top: 3px;
  font-size: 18px;
  display:inline-block;
  float:left;
}

.chat_title {
  background-color: #2ab4f8;
  text-align: center;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-size: 15px;
  padding: 3px;
  cursor:pointer;
}

.chat_title:hover {
  background-color: #2ab4e1;
}

.users_title {
  background-color: #2ab4f8;
  text-align: center;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-size: 15px;
  padding: 3px;
  vertical-align: 10px;
}

#send_button {
  width:130px;
  height:76px;
  vertical-align: 28px;
  background: #2ab4f8;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
}