@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

.eventSearch_body {
background-color: #F2EFEA;
}

.eventSearch_h1 {
  background-color: #1abc9c;
  border: solid 1px #59BDBA;

  text-align: center;
  text-shadow: -1px 1px #417cb8;
  color: #E6F2EF;
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;

  padding: 20px;
  margin-top: -20px;
}

.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:70%;
  flex-direction:row;
  box-shadow:
  1px 1px 0 rgb(22, 160, 133)
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
}

.eventSearch_table {
  margin-left: 35px;
  width: 45%;
}

.eventSearch_div {
  clear: both;
  margin: 0 50px;
}

.eventSearch_label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
input#past_events_true:empty, input#past_events_false:empty {
  margin-left: -999px;
}

/* style label */
input#past_events_true:empty ~ .eventSearch_label,
input#past_events_false:empty ~ .eventSearch_label {
  position: relative;
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input#past_events_true:empty ~ .eventSearch_label:before,
input#past_events_false:empty ~ .eventSearch_label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

/* toggle hover */
input#past_events_true:hover:not(:checked) ~ .eventSearch_label:before,
input#past_events_false:hover:not(:checked) ~ .eventSearch_label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

input#past_events_true:hover:not(:checked) ~ .eventSearch_label,
input#past_events_false:hover:not(:checked) ~ .eventSearch_label {
  color: #888;
}

/* toggle on */
input#past_events_true:checked ~ .eventSearch_label:before,
input#past_events_false:checked ~ .eventSearch_label:before {
  content:'\2714';
  text-indent: .9em;
  color: #9CE2AE;
  background-color: #4DCB6D;
}

input#past_events_true:checked ~ .eventSearch_label,
input#past_events_false:checked ~ .eventSearch_label {
  color: #777;
}

/* radio focus */
input#past_events_true:focus ~ .eventSearch_label:before,
input#past_events_false:focus ~ .eventSearch_label:before {
  box-shadow: 0 0 0 3px #999;
}