.groupevent_html {
  background-color: rgba(245,245,245,0.7);
  color: #000000;
 }

@media all and (min-width: 0px) and (max-width: 1024px) {
  #pastEvents, #nextEvents {
    float: left;
    width: 100%;
    clear: both;
  }
  #nextEvents {
    margin-top: 5%;
    float: left !important;
  }
  .tEvent header{
    margin: 0% -100% 0% 0%;
    word-wrap: break-word;
  }
  .pEvent{
    margin: 0% -100% 0% 0%;
    padding: 15px !important;
    clear: all;
    width: auto !important;
    float: none !important;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    max-height: 500px;
  }
  #pEventlist {
    margin: 0% 100% 0% 0% !important;
    width: 100%;
    clear: all;
    padding: 10px !important;
  }

  #eDescription, #uEvents, .uList {
    float: left;
    clear: both;
    width: 100%;
  }

  #eDescription {
    margin: 0% 15% 0%;
    padding: 15px !important;
    clear: all;
    width: auto !important;
    float: none !important;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    max-height: 400px;
  }
  .imgEvent {
    width: 100%;
  }

  #uEvents {
    border-top: 1px solid #8e44ad;
    display: block;
    margin: 0% 0% 0% 15% !important;
    width: 70% !important;
    max-height: 400px !important;
  }

  .uList, .uList:visited {
    background-color: transparent;
    display: block;
    border-top: 1px solid #8e44ad;
    margin: 0% 0% 0% 15% !important;
    width: 70% !important;
    max-height: 400px !important;
  }
}

#wrap {
  margin: 0% 10% 0%;
  width: auto;
}

#pastEvents{
  float: left;
  width: 49.5%;
}

#nextEvents {
  float: right;
  width: 49.5%;
}

.gEvent
{
}

.gEvent header
{
  color: #ffffff;

  background-color: #27ae60;
  border: solid 1px #27ae60;

  text-align: center;
  text-shadow: -1px 1px #417cb8;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;

  padding: 20px;
  margin-top: -20px;
}
.gEventDesc
{
  background-color: rgba(245,245,245,0.7);
}

.gEventDesc div
{
  display: block;
}

#eDescription
{
  float: left;
  width: 70%;
  background-color: rgba(245,245,245,0.7);
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  font-size: 24px;
  height: 700px;
  max-height: 1024px;
  word-wrap: break-word;
}

#eDescription h3 {
  text-align: center;
}

#eDescription ul
{
  list-style-type: none;
  margin-left: 15px;
  max-height: 200px;
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
}

#uEvents
{
  float: left;
  width: 15%;
  margin-right: -1px;
  background-color: rgba(245,245,245,0.7);
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  font-size: 24px;
  border-left:1px solid #27ae60;
  height: 700px;
  overflow-y: scroll;
  max-height: 1024px;
  word-wrap: break-word;
}

#uEvents ul
{
  margin-left: 15px;
  height: auto;
  list-style-type: none;
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
}

#uEvents h3 {
  text-align:  center;
}

#uEvents ul li
{
  display: block;
  position: relative;
  text-align: center;
  border-top: 1px solid #ffffff;
  max-height: 700px;

}

#uEvents ul li:hover, #uEvents a:hover
{
  background-color: transparent;
  -webkit-transform:scale(1.10); /* Safari and Chrome */
  -moz-transform:scale(1.10); /* Firefox */
  -ms-transform:scale(1.10); /* IE 9 */
  -o-transform:scale(1.10); /* Opera */
  transform:scale(1.10);
  cursor: pointer;
}

.imgEvent
{
  max-width: 480px;
  max-height: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  opacity: 0.6;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.imgEvent:hover{
  -webkit-transform:scale(1.10); /* Safari and Chrome */
  -moz-transform:scale(1.10); /* Firefox */
  -ms-transform:scale(1.10); /* IE 9 */
  -o-transform:scale(1.10); /* Opera */
  transform:scale(1.10);
  opacity: 1;
}

.uList
{
  float: left;
  width: 15%;
  margin-right: -1px;
  background-color: rgba(245,245,245,0.7);
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  font-size: 24px;
  height: 700px;
  overflow-y: scroll;
  max-height: 1024px;
  border-left:1px solid #27ae60;
}

.uList h3 {
  text-align: center;
}

.uList ul
{
  list-style-type: none;
  margin-left: 15px;
  height: auto;
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
}

.tEvent
{
}

.tEvent header
{
  padding: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  font-weight:500;
  font-size:24px;
  word-wrap: break-word;
}

.pEvent{
  width: 100%;
  padding: 20px;
  background-color: rgba(245,245,245,0.7);
  text-align: center;
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  font-weight:500;
  font-size: 20px;
  float: left;
  overflow: auto;
  word-wrap: break-word;
}

.ratingEvent{
  margin: 0;
  list-style-type: none
}

.ratingEventstar {
  background: url('groupevents/engine/star.png') 0 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: auto;
}

.imgEventModal {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  opacity: 0.6;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.imgEventModal:hover{
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
  transform:scale(1.05);
  opacity: 1;
}

#pEventlist {
  margin: 0% 25% 0% !important;
  padding: 15px;
  background-color: rgba(245,245,245,0.7);
  width: 100%;
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: left;
  border-top: 1px solid #ffffff;
  word-wrap: break-word;
}

#modalEvent{
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 15px;
}

#modalEvent div {
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 15px;
}

#optEvent{
  list-style-type: none
}

#optButEvent {
  margin: auto;
}