.gEvent
{
}

.gEvent header
{
  margin: 5% 25% 0%;
  padding: 30px;
  background: #e7e7e7;
  text-align: center;
}
.gEventDesc
{
  overflow: hidden;
  background: light;
}

.gEventDesc div
{
  display: block;
}

#eDescription
{
  float: left;
  width: 35%;
  margin-left: 25%;
  background-color: skyblue;
  padding-bottom: 450em;
  margin-bottom: -450em;
}

#eDescription ul
{
  list-style-type: none;
  margin-left: 15px;
}

#uEvents
{
  float: left;
  width: 15%;
  margin-right: -1px;
  background-color: lightcyan;
  padding-bottom: 450em;
  margin-bottom: -450em;
}

#uEvents ul
{
  padding: 30px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 15px;
  height: 400px;
  list-style-type: none;
}

#uEvents ul li
{
  position: relative;
}

.imgEvent
{
  max-width: 100%;
  height: auto;
}
