.gEvent
{
}

.gEvent header
{
  margin: 5% 25% 0%;
  margin-top: 0px;
  padding: 25px;
  background: #e7e7e7;
  text-align: center;
}
.gEventDesc
{
  overflow: hidden;
  background: light;
}

.gEventDesc div
{
  display: block;
}

#eDescription
{
  float: left;
  width: 35%;
  margin-left: 25%;
  background-color: skyblue;
  padding-bottom: 300em;
  margin-bottom: -300em;
  padding-top: 0px;
}

#eDescription ul
{
  list-style-type: none;
  margin-left: 15px;
}

#eDescriptionDetails
{

}

#eDescriptionDetails ul
{
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 15px;
  list-style-type: none;
  max-height: 200px;
}

#uEvents
{
  float: left;
  width: 15%;
  margin-right: -1px;
  background-color: lightcyan;
  padding-bottom: 300em;
  margin-bottom: -300em;
  padding-top: 0px;
}

#uEvents ul
{
  padding: 30px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 15px;
  height: 400px;
  list-style-type: none;
}

#uEvents ul li
{
  position: relative;
}

.imgEvent
{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
