@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

.homepage_body {
  background-color: #F2EFEA;
}

.home_h1 {
  background-color: #EA6720;
  border: solid 1px #EA6720;
  text-align: center;
  text-shadow: -1px 1px #EA6720;
  color: #E6F2EF;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;

  padding: 20px;
  margin-top: -20px;
}

.module {
}

#left_module {
  width: 15%;
  float: left;
}

#main_module {
  width: 50%;
  //background-color: #ffff00;
  float: left;
}

#right_top_module {
  width: 35%;
  float: right;
}

#right_bot_module {
  width: 35%;
  float: right;
}

#right_bot_module2 {
  width: 35%;
  float: right;
}

.home_quicksearch_field {
  display:flex;
  position:relative;
  margin:5em auto;
  width:70%;
  flex-direction:row;
  box-shadow: #EA6720;
}

.home_quicksearch_field>input[type=text],
.home_quicksearch_field>input[type=submit] {
  display:block;
  font:1.2em 'Open Sans';
}

.home_quicksearch_field>input[type=text] {
  outline: none;
  flex:1;
  padding:0.6em;
  border: #EA6720;
}

.home_quicksearch_field>input[type=submit] {
  padding:0.6em 0.8em;
  background-color: #EA6720;
  color:white;
  border:none;
}