@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

.homepage_body {
  background: white image_url('homepage_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.module {
}

#left_module {
  width: 15%;
  float: left;
}

#main_module {
  width: 50%;
  //background-color: #ffff00;
  float: left;
}

#right_top_module {
  width: 35%;
  float: right;
}

#right_bot_module {
  width: 35%;
  float: right;
}