.module {
}

#left_module {
  width: 15%;
  float: left;
}

#main_module {
  width: 50%;
  //background-color: #ffff00;
  float: left;
}

#right_top_module {
  width: 35%;
  float: right;
}

#right_bot_module {
  width: 35%;
  float: right;
}