* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.body_gen {
  background-color: #F2EFEA;
}

.headband_title {
  background-color: #2ab4f8;
  text-align: center;
  text-shadow: -1px 1px #417cb8;
  color: #E6F2EF;
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 15px;
  margin-top: -20px;
}

.chat_body {
  margin-left: 5%;
  margin-top: 2px;
  border: 4px;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  width: 60%;
  background-color: #fff;
  border-radius: 0 0 0px 10px;
  border-style: solid;
  border-color: #2ab4f8;
  padding: 3px;
  color: #777;
  font-size: 18px;
  display:inline-block;
  float:left;
}

.chat_output {
  height: 460px;
  border: 2px;
  border-style: solid;
}

.smiley {
  font-size: 1vw;
  display:inline-block;
  float:left;
  margin-left: 13%;
  margin-top: 10px;
}

.configuration {
  font-size: 1vw;
  display:inline-block;
  float:left;
  margin-left: 30%;
  margin-top: 10px;
}

textarea {
  width:80%;
  display:inline-block;
  float:left;
  resize: none;
}

::-webkit-input-placeholder {
  font-size: 1.2vw;
}

input[type=text]:focus,textarea:focus {
  border-color: #EE6163;
}

.usrlist_body {
  border: 4px;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  width: 20%;
  background-color: #fff;
  border-radius: 0 10px 10px 0px;
  border-style: solid;
  border-color: #2ab4f8;
  padding: 3px;
  margin-left: 1%;
  color: #777;
  font-size: 18px;
  display:inline-block;
  float:left;
}

.usrlist_output {
  height: 555px;
  border: 2px;
  border-style: solid;
  border-radius: 0 10px 10px 0px;
}

.chat_title {
  width: 8%;
  margin-left: 5%;
  margin-top: 20px;
  background-color: #2ab4f8;
  text-shadow: -1px 1px #417cb8;
  color: #E6F2EF;
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-size: 1vw;
  padding: 3px;
  cursor:pointer;
  position: relative;
}

.chat_title:hover {
  background-color: #2ab4e1;
}

#send_button {
  width: 18%;
  height:53px;
  margin-left: 1%;
  background: #2ab4f8;
  font-weight: bold;
  font-size: 1.3vw;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  display:inline-block;
  float:left;
}

#send_button:hover {
  background-color: #2ab4e1;
}