.profile_body {
  background-color: #F2EFEA;
}

.profile_h1 {
  background-color: #3498db;
  border: solid 1px #3498db;

  text-align: center;
  text-shadow: -1px 1px #417cb8;
  color: #E6F2EF;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;

  padding: 20px;
  margin-top: -20px;
}