/**********************
*   LOG-IN FORM CSS   *
**********************/

//@import url(http://weloveiconfonts.com/api/?family=fontawesome);
//@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

#LoginBody {
  background-color: #C0C0C0;
  color: #000;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.userEdit_input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  -webkit-appearance: none;
}

/* ---------- LOGIN ---------- */

#login {
  margin: 50px auto;
  width: 400px;
}

#login h2 {
  background-color: #2ab4f8;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 28px;
  padding: 20px 26px;
  margin: 0;
}

#login h2 span[class*="fontawesome-"] {
  margin-right: 14px;
}

#login fieldset {
  background-color: #fff;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  padding: 20px 26px;
}

#login fieldset p {
  color: #777;
  margin-bottom: 14px;
}

#login fieldset p:last-child {
  margin-bottom: 0;
}

#login fieldset input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#login fieldset input[type="email"], #login fieldset input[type="password"] {
  background-color: #eee;
  color: #777;
  padding: 4px 10px;
  width: 328px;
}

#login fieldset input[type="submit"] {
  background-color: #27ae60;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 100px;
}

#login fieldset input[type="submit"]:hover {
  background-color: #28ad63;
}

.link_login{
  text-align: center;
  margin-top: -40px;
}

/* --- CSS for buttons --- */

.login_button {
  background-color: rgba(0,217,76,1);
  background-position: center;
  border: solid 1px rgba(255,255,255,1);
  max-width: 100%;
  height: 40px;
  padding: 10px;
  display: inline;
  font-size: 15px;
  line-height: 0px;
  text-align: center;
  color: rgba(250,255,253,1);
  font-weight: initial;
  float: right;
}
.login_button:hover {
  background-color: rgba(0, 209, 53, 0.9) !important;
  background-position: center;
  height: 40px;
  border: solid 1px rgba(255,255,255,1);
}

.pwd_button {
  background-color: rgba(255,140,0,1);
  border: solid 1px rgba(255,255,255,1);
  max-width: 100%;
  height: 40px;
  padding: 10px;
  display: inline-block;
  font-size: 15px;
  line-height: 13px;
  text-align: center;
  color: rgba(250,255,253,1);
  font-weight: initial;
  float: left;
}

.pwd_button:hover{
  background-color: rgba(255, 209, 53, 0.9);
  background-position: center;
  height: 40px;
  border: solid 1px rgba(255,255,255,1);
}