/**********************
*   LOG-IN FORM CSS   *
**********************/

//@import url(http://weloveiconfonts.com/api/?family=fontawesome);
//@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

.logo {
  width: 33%;
  height: 33%;
  margin-left: 10px;
}

.text_logo {
  margin-left: 20px;
  width: 43%;
  height: 43%;
}

#LoginBody {
  background: white image_url('signin_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.userEdit_input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  -webkit-appearance: none;
}

/* ---------- LOGIN ---------- */

#login {
  margin: 50px auto;
  width: 400px;
}

#login h2 {
  color: #fff;
  font-size: 28px;
  padding: 20px 26px;
  margin: 0;
}

#login h2 span[class*="fontawesome-"] {
  margin-right: 14px;
}

#login fieldset {
  padding: 20px 26px;
}

#login fieldset p {
  color: #777;
  margin-bottom: 14px;
}

#login fieldset p:last-child {
  margin-bottom: 0;
}

#login fieldset input[type="email"], #login fieldset input[type="password"] {
  background-color: #eee;
  font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
  color: #777;
  padding: 4px 10px;
  width: 328px;
  height: 43px;
}

#login fieldset input[type="submit"] {
  background-color: #6FCCC9;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 100px;
}

#login fieldset input[type="submit"]:hover {
  background-color: #59BDBA;
}

.link_login{
  text-align: center;
  margin-top: -40px;
}

/* --- CSS for buttons --- */

.login_button {
  background-color: #6FCCC9;
  background-position: center;
  border: solid 1px #6FCCC9;
  max-width: 100%;
  height: 40px;
  padding: 10px;
  display: inline;
  font-size: 15px;
  line-height: 0px;
  text-align: center;
  font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
  color: rgba(250,255,253,1);
  font-weight: initial;
  float: right;
}

.login_button:hover {
  background-color: #59BDBA !important;
  background-position: center;
  height: 40px;
  border: solid 1px #59BDBA;
}

.pwd_button {
  background-color: #EE6163;
  border: solid 1px #EE6163;
  max-width: 100%;
  height: 40px;
  padding: 10px;
  display: inline-block;
  font-size: 15px;
  line-height: 13px;
  text-align: center;
  color: rgba(250,255,253,1);
  font-weight: initial;
  float: left;
}

.pwd_button:hover{
  background-color: #EE5255;
  background-position: center;
  height: 40px;
  border: solid 1px #EE5255;
}