/**********************
* User Edit FORM CSS  *
**********************/

/* ---------- GENERAL ---------- */

.userEdit_body {
  margin: 0;
  padding: 0;
  background-color: #F2EFEA;
}

.userEdit_title {
  background-color: #EE6163;
  border: solid 1px #59BDBA;

  text-align: center;
  text-shadow: -1px 1px #417cb8;
  color: #E6F2EF;
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;

  padding: 20px;
  margin-top: -20px;
}

.userEdit_div_perso {
  display:inline-block;
  background-color:#F5F5F5;
  padding:20px;
  border:1px solid #EE6163;
  border-radius:5px;
}

.userEdit_div_pwd {
  display:inline-block;
  background-color:#F5F5F5;
  padding:20px;
  border:1px solid #EE6163;
  border-radius:5px;
}

.userEdit_table_perso {
  width: 130%;
  margin: auto;
}

.userEdit_tr_top {

}

.userEdit_delete {
  display:inline-block;
  background-color:#F5F5F5;
  padding:20px;
  padding-top:0px;
  border:1px solid #EE6163;
  border-radius:5px;
}

.form_hint, .required_notification {
  font-size: 11px;
}

#user_form ul {
  width:750px;
  list-style-type:none;
  list-style-position:outside;
  margin:0px;
  padding:0px;
}
#user_form li{
  padding:12px;
  border-bottom:1px solid #eee;
  position:relative;
}

#user_form li:first-child, #user_form li:last-child {
  border-bottom:1px solid #777;
}

#user_form h2 {
  margin:0;
  display: inline;
}
#required_notification {
  color:#d45252;
  margin:5px 0 0 0;
  display:inline;
  float:right;
}

#user_form .userForm_label {
  width:150px;
  margin-top: 3px;
  display:inline-block;
  float:left;
  padding:3px;
}
#user_form input {
  height:20px;
  width:220px;
  padding:5px 8px;
}
#user_form textarea {padding:8px; width:300px;}
#user_form button {margin-left:156px;}

#user_form input, #user_form textarea {
  border:1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius:2px;
  -moz-transition: padding .25s;
  -webkit-transition: padding .25s;
  -o-transition: padding .25s;
  transition: padding .25s;
}
#user_form input:focus, #user_form textarea:focus {
  background: #fff;
  border:1px solid #555;
  box-shadow: 0 0 3px #aaa;
  padding-right:70px;
}
/* Button Style */

button.edit_submit {
  background-color: #68b12f;
  background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
  background: -webkit-linear-gradient(top, #68b12f, #50911e);
  background: -moz-linear-gradient(top, #68b12f, #50911e);
  background: -ms-linear-gradient(top, #68b12f, #50911e);
  background: -o-linear-gradient(top, #68b12f, #50911e);
  background: linear-gradient(top, #68b12f, #50911e);
  border: 1px solid #509111;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #9fd574;
  -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
  -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
  -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
  -o-box-shadow: 0 1px 0 0 #9fd574 inset;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #396715;
}
button.edit_submit:hover {
  opacity:.85;
  cursor: pointer;
}
button.edit_submit:active {
  border: 1px solid #20911e;
  box-shadow: 0 0 10px 5px #356b0b inset;
  -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
  -moz-box-shadow: 0 0 10px 5px #356b0b inset;
  -ms-box-shadow: 0 0 10px 5px #356b0b inset;
  -o-box-shadow: 0 0 10px 5px #356b0b inset;

}

.form_hint {
  background: #d45252;
  border-radius: 3px 3px 3px 3px;
  color: white;
  margin-left:8px;
  padding: 1px 6px;
  z-index: 999; /* hints stay above all other elements */
  position: absolute; /* allows proper formatting if hint is two lines */
  display: none;
}

.form_hint::before {
  content: "\25C0"; /* left point triangle in escaped unicode */
  color:#d45252;
  position: absolute;
  top:1px;
  left:-6px;
}

.btn {
  font-family: verdana, arial, helvetica, sans-serif !important;
  font-weight: bold;
}

#user_form input:focus + .form_hint {display: inline;}
#user_form input:required:valid + .form_hint {background: #28921f;} /* change form hint color when valid */
#user_form input:required:valid + .form_hint::before {color:#28921f;} /* change form hint arrow color when valid */
