<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">

<body id="mail_body">

    <h2 style="background-color: #2ab4f8;
        -webkit-border-radius: 20px 20px 0 0;
        -moz-border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        color: #fff;
        font-size: 28px;
        padding: 20px 26px;
        margin: 0;">Changement de mot de passe</h2>

    <p style = "background-color: #fff;
            -webkit-border-radius: 0 0 20px 20px;
            -moz-border-radius: 0 0 20px 20px;
            border-radius: 0 0 20px 20px;
            border-style: solid;
            border-color: #2ab4f8;
            padding: 20px 26px;
            color: #777;
            margin-bottom: 14px;
            font-size: 18px;">Hello <%= @resource.email %>!<br><br>

    Someone has requested a link to change your password. You can do this through the link below.<br><br>

    <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %><br><br><br>

    If you didn't request this, please ignore this email.<br><br>
    Your password won't change until you access the link above and create a new one.</p>

</body>